.fieldsetDatos
{
    margin:auto;
    width: 60%;
}

.fieldsetDatos legend
{
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 5px;
}

.contenedorInput
{
    display:block;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.inputInvalido
{
    color: red;
}

.captchaOk
{
    background-color: green;
}

.captchaFail
{
    background-color: red;
}

h1
{
    text-align: center;
    margin: 25px;
}

label
{
    display: block;
}
